$black:#262626;
$offblack:#424242;
$green:#82B440;
$darkgreen:green;
$white:#FFFFFF;
$offwhite:#bababa;
$darkbrown:#795548;
$orange:#FFC107;
// for text
$gray:#A8A5A8; 
$blue:#03A9F4;
$div:#FCFCFC;
$border:#F6F6F6;
$cardtext:#F5F5F5;