$vw200: 200vw;
$vh200: 200vh;

$vw120: 120vw;
$vh120: 120vh;

$vw100: 100vw;
$vh100: 100vh;

$vw90:90vw;
$vh90:90vh;

$vw99:99vw;
$vh99:99vh;

$vw98:98vw;
$vh98:98vh;

$vw60:60vw;
$vh60:60vh;

$vw50:50vw;
$vh50:50vh;

$vw30:30vw;
$vh30:30vh;

$vw20:20vw;
$vh20:20vh;

$vw15:15vw;
$vh15:15vh;

$vw10:10vw;
$vh10:10vh;

$vw9:9vw;
$vh9:9vh;

$vw8:8vw;
$vh8:8vh;

$vw6:6vw;
$vh6:6vh;

$vw4:4vw;
$vh4:4vh;

$vw3:3vw;
$vh3:3vh;

$vw2:2vw;
$vh2:2vh;

$vw1:1vw;
$vh1:1vh;

$vw1_6: 1.6vw;
$vh1_6: 1.6vh;

// px

$px1: 1px;
$px5: 5px;
$px6: 6px;
$px8: 8px;
$px11: 11px;
$px15: 15px;
$px20: 20px;
$px30: 30px;
$px40: 40px;

// percentag

$per100: 100%;
$per400: 400%;
$per50: 50%;
$per70: 70%;
$per30: 30%;
$per20: 20%;
$per15: 15%;
$per10: 10%;
$per1: 1%;
$per2: 2%;
$per3: 3%;
$per4: 4%;
$per5: 5%;
$per6: 6%;
$per8: 8%;